.login-button {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-text-fill: #000000;
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 8 25 8 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.3, 0, 1);
    -fx-transition: all 0.3s ease-in-out;
}

/* Hover: putih solid */
.login-button:hover {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: black;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0.3, 0, 2);
}

/* Saat ditekan: sedikit lebih gelap */
.login-button:pressed {
    -fx-background-color: #f2f2f2;
    -fx-border-color: black;
    -fx-effect: none;
}
